# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Tests & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Local runtime (recreated by scripts/build.sh)
logs/*
!logs/.gitkeep
data/*
!data/.gitkeep

# Env / IDE
.env
.env.*
.idea/
.vscode/
*.swp
.DS_Store
